/*
* For align elements(heading, toggle), set flex-box and styling it
*/

/* flex-box */
.in_page_toc-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* set margin to align */
.in_page_toc-header .toggle {
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 8px;
}

/* for seperating toc from text of post, set margin */
#in_page_toc-wrapper {
	margin-bottom: 40px;
}

/* in_page_toc style */
#in_page_toc-list li {
	list-style: none;
}

#in_page_toc-list li a {
	color: currentColor;
	border-bottom: none;
}

#in_page_toc-list {
	border-left: 2px solid #919191;
}